<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mi Perfil</h4>
                <h6 class="card-subtitle">Ajustes</h6>
                <form [formGroup]="perfilForm" (submit)="actualizarPerfil()" class="form p-t-20">
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre Usuario</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input formControlName="nombre" type="text" class="form-control" id="exampleInputuname" placeholder="Nombre Usuario">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1"></label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input [readOnly]="usuario.google" formControlName="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Eamil">
                        </div>
                    </div>

                    <button [disabled]="perfilForm.invalid" type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10"> <i class="fa fa-save"></i> Guardar cambios</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Avatar</h4>
                <h6 class="card-subtitle">Imagen del usuario</h6>

                <div class="img-container text-center mt-4 mb-4">
                    <img *ngIf="!imgTemp" [src]="usuario.imagenUrl" alt="" class="img-avatar">
                    <img *ngIf="imgTemp" [src]="imgTemp" alt="" class="img-avatar">
                </div>


                <input type="file" (change)="cambiarImagen($event)">

                <br>
                <br>

                <button (click)="subirImagen()" type="button" [disabled]="!imagenSubir" class="btn btn-success btn-block waves-effect waves-light m-r-10"> <i class="fa fa-save"></i> Cambiar imagen</button>
               
            </div>
        </div>
    </div>
</div>
